$primary-color: #267fde;
$secondary-color: #f5f124;

.skills-page {
  min-height: 100vh;

  .title {
    background: $primary-color;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    font-size: 5rem;
  }

  .skills {
    margin: 1rem;

    .skill {
      border: 3px solid $primary-color;
      margin: 1rem 0;
      padding: 1rem;
      font-family: "Poppins", sans-serif;
      transition-property: all;
      transition-duration: 0.5s;

      &:hover {
        background: $primary-color;
        color: white;
        font-size: 2rem;
      }
    }
  }
}
